################
# Directories
################
.idea/
.vscode/
node_modules/

################
# File types
################

################
# Specific files
################

################
# Build artifacts
################
